<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:p="http://www.springframework.org/schema/p"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:lang="http://www.springframework.org/schema/lang"
   
   xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.5.xsd"
    >
    
   <bean id="firstChain" class="com.github.jokerlk.FirstChainRing"  scope="prototype" />
   <bean id="secondChain" class="com.github.jokerlk.SecondChainRing"  scope="prototype" />
   
   <bean id="straightChainBuilder" class="com.github.jokerlk.MyRequestChainBuilder" >
	   <constructor-arg>
	   		<list>
	   			<ref bean="firstChain"/>
	   			<ref bean="secondChain"/>
	   		</list>
	   </constructor-arg>
   </bean>
   
   <bean id="inverseChainBuilder" class="com.github.jokerlk.MyRequestChainBuilder" >
	   <constructor-arg>
	   		<list>
	   			<ref bean="secondChain"/>
	   			<ref bean="firstChain"/>
	   		</list>
	   </constructor-arg>
   </bean>
</beans>    
